section {
  position: relative;
  top: 0em;
  margin-bottom: 0% !important;
}
.img-responsive {
  border-radius: 15px;
  height: 350px;
  width: 370px;
  margin-top: 1%;
  margin-left: -1%;
}

.col-sm-4 {
  border: 1px solid #dddddd;
  border-radius: 15px;
  width: 20.5% !important;
  margin: 1%;
}

.row {
  display: flex !important;
  margin: 0 auto;
  justify-content: center;
}
.container,
.col-sm-10,
.col-sm-offset-1 {
  max-width: 90% !important;
  width: 100% !important;
  /* border: 1px solid; */
  margin: 0 auto;
}
section .page nav ul {
  position: relative;
  margin-left: -15px;
}

.thumbnail {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.thumbnail .thumbnail-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 15px;
  position: absolute;
  margin-top: 1%;
  height: 78%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
}

.thumbnail-image {
  width: 100%;
}

.thumbnail-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.thumbnail:hover .thumbnail-details {
  top: 40%;
  left: 50%;
  opacity: 1;
}

.thumbnail-details h3 {
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.thumbnail-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top {
  top: 20%;
}

@media (max-width: 766px) {
  section {
    width: 100%;
    /* left: 10%; */
  }
}
@media only screen and (max-width: 347px) {
  .img-responsive {
    width: 100%;
    margin-top: 2%;
  }
  .row {
    flex-direction: column;
  }
  .col-sm-4 {
    width: 100% !important;
    margin: 2%;
  }
}

@media only screen and (min-width: 348px) and (max-width: 375px) {
  .img-responsive {
    width: 100%;
    margin-top: 2%;
  }
  .row {
    flex-direction: column;
  }
  .col-sm-4 {
    width: 100% !important;
    margin: 2%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .img-responsive {
    width: 100%;
    margin-top: 2%;
  }
  .row {
    flex-direction: column;
  }
  .col-sm-4 {
    width: 100% !important;
    margin: 2%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .img-responsive {
    width: 100%;
    margin-top: 2%;
  }
  .row {
    flex-direction: row;
  }
  .col-sm-4 {
    width: 100% !important;
    max-width: 29% !important;
    margin: 2%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .img-responsive {
    width: 100%;
    margin-top: 2%;
  }
  .row {
    flex-direction: row;
  }
  .col-sm-4 {
    width: 100% !important;
    max-width: 29% !important;
    margin: 2%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .img-responsive {
    width: 100%;
    margin-top: 2%;
  }
  .row {
    flex-direction: row;
  }
  .col-sm-4 {
    width: 100% !important;
    max-width: 29% !important;
    margin: 2%;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
  .img-responsive {
    width: 100%;
    margin-top: 2%;
  }
  .row {
    flex-direction: row;
  }
  .col-sm-4 {
    width: 100% !important;
    max-width: 23% !important;
    margin: 2%;
  }
}
